html{
    height:100%;
}

body{
    margin:0px;
    background-color: rgb(45, 6, 109);
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
}


.titleTheme{
    height: 200px;
    background-color: rgb(65, 23, 180);
    padding: 10px;
    
}

#titleWords {
    margin-bottom: 100px;
    text-align: center;
    font-size:85px;
    color: white;
}

.nameForm{
    display: block;
    border: solid 3px;
    border-radius: 15px;
    border-color: rgb(65, 23, 180);
    background-color: rgb(65, 23, 180);
    margin: auto;
    margin-top: 75px;
    width: 25%;
}

h3{
    color: white;
    text-align: center;
    font-size:35px;
}

.text-input{
    border:rgb(65, 23, 180);
    border-radius: 20px;
    display: block;
    padding: 10px;
    margin: 20px auto;
    width: 70%;
}

.btn{
    background-color: rgb(45, 6, 109);
    margin: 15px auto;
    display: block;
    color: white;
    width: 20%;
    padding: 5px;
    border-radius: 20px;
    border-color: rgb(90, 24, 196);
    cursor: pointer;
}

.menu{
    display: none;
    border: solid 3px;
    border-radius: 15px;
    border-color: rgb(65, 23, 180);
    background-color: rgb(65, 23, 180);
    margin: auto;
    margin-top: 75px;
    width: 45%;
    height: 50%;
}

.menuMain{
    display: flex;
    border-radius: 15px;
    height:70%;
    justify-content: center;
}

.menuBtm{
    display: flex;
    border-radius: 15px;
    margin-top: -7%;
    height:27%;
    justify-content: center;
}



.btnBig{
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 25%;
    height: 25%;
    color: white;
    line-height: 80px;
    background-color:rgb(45, 6, 109);
    margin: 2%;
    margin-top: 15%;
    font-size: 45px;
    cursor: pointer;
}


.btnBig:hover{
    box-shadow: 0 25px 15px -8px rgb(83, 20, 184);
}


.btnSmall{
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 20%;
    height: 70%;
    margin: 2%;
    color: white;
    font-size: 30px;
    line-height: 100px;
    background-color:rgb(45, 6, 109);
    cursor: pointer;

}

.btnSmall:hover{
    box-shadow: 0 25px 15px -8px rgb(83, 20, 184);
}

.keys{
    display: none;
    border: solid 3px;
    border-radius: 15px;
    border-color: rgb(65, 23, 180);
    background-color: rgb(65, 23, 180);
    margin: auto;
    margin-top: 75px;
    width: 45%;
    height: 50%;
    text-align: center;
}

.btnKey{
    display: inline-block;
    background-color:rgb(45, 6, 109);
    border-radius: 15px;
    text-align: center;
    width: 20%;
    height: 10%;
    margin: 2%;
    padding: 25px;
    color: white;
    font-size:55px;
    text-transform: uppercase;
    line-height: 45px;
    cursor: pointer;
}


.keyInstructions{
    margin-left: 10%;
    margin-right: 10%;
}

.keyLabel{
    display: inline-block;
    width: 20%;
    height: 10%;
    margin-inline: 2%;
    
    padding-inline: 25px;
    color: rgb(255, 255, 255);
    font-size:35px;
}
br{
    display: block;
    content: "";
    margin-top: -50px;
}

.btnDone{
    display: block;
    background-color:rgb(45, 6, 109);
    border-radius: 15px;
    text-align: center;
    width: 15%;
    height: 10%;
    padding-top: 3%;
    margin: auto;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    font-size:30px;
    line-height: 20px;
    cursor: pointer;
}

.btnDone:hover{
    box-shadow: 0 25px 15px -8px rgb(83, 20, 184);
}

.btnKey:hover{
    box-shadow: 0 25px 15px -8px rgb(83, 20, 184);
}

.game{
    display: none;
    border-radius: 15px;
    border-color: rgb(65, 23, 180);
    background-color: rgb(65, 23, 180);
    margin: auto;
    margin-top: 75px;
    width: 45%;
    height: 50%;
}

.gameTop{
    border-bottom: rgb(45, 6, 109) solid 3px;
    height: 10%;
    margin-bottom: 2%;
    font-size: 25px;
}

.gameTopName{
    display: flex;
    height: 100%;
    border-right: rgb(45, 6, 109) solid 3px;
    float: left;
    min-width: 2%;
    color: white;
    line-height: 50px;
    padding-left: 1%;
    padding-right: 1%;
}

.gameTopScore{
    display: flex;
    height: 100%;
    border-left: rgb(45, 6, 109) solid 3px;
    float: right;
    min-width: 2%;
    color: white;
    line-height: 50px;
    padding-left: 1%;
    padding-right: 1%;
}

.gameMain{
    display: block;
    width: 35%;
    height: 55%;
    margin: auto;
}

.instructions{
    text-align: center;
    color: white;
    font-size: 28px;
}

.start{
    display: block;
}

.startbtn{
    display: block;
    background-color:rgb(45, 6, 109);
    border-radius: 15px;
    text-align: center;
    width: 55%;
    height: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 10%;
    color: rgb(255, 255, 255);
    font-size:50px;
    cursor: pointer;
}

.startbtn:hover{
    box-shadow: 0 25px 15px -8px rgb(83, 20, 184);
}

.dropdown{
    text-align: center;
    background-color:rgb(45, 6, 109);
    color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
    width: 40%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    text-align: center;
    background-color: white;
    color: black;
    margin: auto;
    width: 35%;
    padding: 3px;
    font-size: 20px;
    cursor: pointer;
}

.bot{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-content:hover{
    background-color: blueviolet;
}


.countdown{
    display: none;
    margin-top: 5%;
    width: 100%;
    margin: auto;
}

.time{
    height: fit-content;
    font-size: 100px;
    color: white;
    text-align: center;
}

.cpm{
    height: fit-content;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-bottom: 2%;
}

.endBtns{
    display: none;
    width: 100%;
    height: 15%;
    margin-top: 5%;
    justify-content: center;
}

.endBtn{
    background-color:rgb(45, 6, 109);
    border-radius: 15px;
    text-align: center;
    width: 35%;
    height: 100%;
    margin: auto;
    padding: 5px;
    padding-top: 12px;
    color: rgb(255, 255, 255);
    font-size:25px;
    cursor: pointer;
}

.endBtn:hover{
    box-shadow: 0 25px 15px -8px rgb(83, 20, 184);
}

.menubtn{
    display: block;
    background-color:rgb(45, 6, 109);
    border-radius: 15px;
    text-align: center;
    width: 13%;
    height: 10%;
    padding-top: 3px;
    margin: auto;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-size:35px;
    cursor: pointer;
}

.menubtn2{
    display: block;
    background-color:rgb(65, 23, 180);
    border-radius: 15px;
    text-align: center;
    width: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: auto;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-size:35px;
    cursor: pointer;
}

.menubtn:hover{
    box-shadow: 0 25px 15px -8px rgb(83, 20, 184);
}

.menubtn2:hover{
    box-shadow: 0 20px 15px -10px rgb(83, 20, 184);
}


.ldrWrapper{
    display: none;
}

.leaderboard{
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

.scores{
    display: flex;
    width: 100%;
    background-color: rgb(65, 23, 180);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: black;
}

.titles{
    display: flex;
    width: 100%;
    background-color: rgb(65, 23, 180);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: black;
}

.titles:first-child{
    border-top: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

.scores:first-child{
    color: gold;
}

.scores:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.category{
    border-left: 2px solid black;
    width: 25%;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

.category:first-child{
    width: 10%;
    border: none;
}

